.h2,
h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.alert {
  margin-top: 20px;
}

.definition {
  margin: 3px;
  /*margin-bottom: 40px;*/
  background-color: var(--bs-success-bg-subtle);
  border-radius: 3px;
  --bs-card-border-width: 0;
  /*padding-bottom: 50px;*/
}

.card-container {
  perspective: 1000px;
  width: 90%;
  margin: 50px auto;
  /*height: 100%;*/
}

.card-flip {
  position: relative;
  width: 100%;
  height: 250px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
  /*flex-direction: column;*/
  /*max-height: 300px;*/
}

.card-front {
  background: #f0f0f0;
}

.card-back {
  background: #dff0d8;
  transform: rotateY(180deg);
}

.card-flip.flipped {
  transform: rotateY(180deg);
}

.nav-link {
  border: 2px solid #8b4513;
  background-color: #f5deb3;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  opacity: 0.6;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.nav-link.active {
  opacity: 1;
  background-color: #f5deb3;
}

.nav-link:hover {
  opacity: 1;
}
