body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
  z-index: 1;
}

.container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  /*background: rgba(255, 255, 255, 0.8);*/
  /*padding: 10px;*/
  /*border-radius: 8px;*/
  /*text-align: center;*/
}

#controls {
  padding: 10px;
  border-radius: 8px;
  background: rgba(255,255,255,0.8);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.controls-container label {
  display: block;
}

.controls-container input[type="checkbox"] {
  margin-bottom: 10px;
}

.controls-container button {
  margin-top: 10px;
}

.diamond {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". top ." "left . right" ". front .";
}

.diamond label {
  margin: 0;
}

.top {
  grid-area: top;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.front {
  grid-area: front;
}

